<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.grinleaf.ex056datastorageexternal">

    <!-- 외부저장소에 대한 정적 퍼미션 : write 허가를 받았을 경우, read 는 자동으로 허가 됨. write 가 더 큰 개념. 앱을 다운로드 받을 때 여부 물음 -->
<!--    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/Theme.Ex056DataStorageExternal">
        <!-- api 29버전 이상부터 외부저장소 저장기술 변경됨. (MediaStore) 예전 방식의 외부저장소 사용기술을 요청한다는 속성이 꼭 필요함-->

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>