<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.grinleaf.ex072cameraapp2">

    <!-- * 외부저장소 사용 권한 퍼미션 등록 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ex072CameraApp2"
        android:requestLegacyExternalStorage="true">
        <!-- * 외부저장소 사용 권한 퍼미션 등록 시 고정으로 같이 입력해야하는 속성 : requestLegacyExternalStorage -->

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 5-2. FileProvider 등록 -->
        <!-- authorities 속성 : FileProvider 의 식별 글씨 - .java 에서 인식하는 명칭(중복명칭은 있으면 안되기 때문에, 보통 패키지명을 쓸 것을 권장함 + 본인이 원하는 식별자 붙여도 됨 -->
        <!-- exported 속성 : 다른 앱에서 이 프로바이더 객체를 사용할 수 없도록 false -->
        <provider
            android:authorities="com.grinleaf.ex072cameraapp2.FileProvider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">

            <!-- 프로바이더가 공개할 파일의 경로(path)를 지정 : 하나가 아니라 여러 개일 경우도 있고 하니~ 보통 .xml 문서로 작성함! (res 폴더에 xml 폴더 추가, paths.xml 생성) -->
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS"
                       android:resource="@xml/paths"/>

        </provider>

    </application>

</manifest>