<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.grinleaf.ex045activity3">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ex045Activity3">
        <activity
            android:name=".SecondActivity"
            android:exported="true">
            <!-- exported 속성값을 통해, 외부에서 실행되는 것을 허용할지 여부를 결정 - intent-filter 속성이 있으면 export 를 반드시 명시해야함 -->

            <!-- 묵시적 Intent 중에 "aaa" 식별자를 가진 Intent 를 걸러냄 + 식별자 적었으면 category 도 필수 요소로 작성해줘야 함. 아무 소속 없으면 default 로 -->
            <!-- 디바이스 내에 같은 식별자를 가진 다른 앱이 있을 경우, 두 앱이 리스트업 되면서 선택할 수 있는 창이 나타남 -->
            <intent-filter>
                <action android:name="aaa"/>
                <action android:name="bbb"/> <!-- 액션값은 여러 개를 쓸 수 있음! aaa 이거나 bbb 이면 필터에 걸리는 것 -->
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>